* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow: hidden;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

#cabecalho {
  position: relative;
  width: 100%;
  height: 300px;
}

.cabecalho_bg {
  background-image: url("images/Cabecalho.png");
  background-size: cover;
  background-position: center;
}

#logo {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 350px;
  margin-top: 2rem;
}

.boxmodel {
  width: 550px;
  height: 150px;
  background-color: #cbdf24;
  position: relative;
  margin-top: -30px;
  border-radius: 10px;
  text-align: center;
  color: #124e6a;
  font-size: 15px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}

.section_BG {
  background-image: url("images/fundo.png");
  background-position: center;
  background-size: 755px 400px;
  width: 800px;
  height: 400px;
  margin-left: 2rem;
}

.section_container {
  margin-left: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  gap: 2rem;
  padding: 3rem 0;
  width: 100%;
  height: 100%;
}

.section_article_wrapper {
  max-height: 15rem;
  overflow: scroll;
}

.section_article_wrapper::-webkit-scrollbar {
  display: none;
}

.links_content {
  width: 550px;
  height: 60px;
  background-color: #124e6a;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.section_container_text {
  color: white;
  font-size: 12px;
  font-weight: bold;
  position: relative;
}

.img_link {
  height: 50px;
  width: 50px;
  margin: 0 500px 0px 30px;
  position: absolute;
  border-radius: 5px;
}

.content_wrapp {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.name_social_midia {
  font-size: 12px;
  color: #124e6a;
  text-align: center;
  display: flex;
  justify-content: center;
}

.icons_social_midia {
  width: 35px;
  margin: 0 20px 0px 20px;
}

a {
  text-decoration: none;
}

#texto {
  position: absolute;
  color: #fff;
  font-size: 12px;
  padding: 1rem 0;
  text-align: center;
}

.section_title p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  font-size: 20px;
  font-weight: 900;
}

.logIn_button {
  cursor: pointer;
  transition: background 0.3s;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.logIn_button:hover {
  color: rgb(238, 255, 85);
}

.footer-green {
  width: 100%;
  height: 0.5rem;
  background-color: #cbdf24;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.footer-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
  background-color: #124e6a;
  margin: auto;
}

.footer_linktree {
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  width: 100%;
}

@media only screen and (max-width: 760px) {
  #logo {
    position: inherit;
  }

  #container {
    height: auto;
    width: auto;
  }

  .social_midia_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section_BG {
    /*background-image: url("images/Fundo_branco_com_os_predios1.png");*/
    background-size: 550px 350px;
    background-size: 650px 400px;
    width: 500px;
    height: 400px;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .links_content {
    width: 100%;
  }

  .boxmodel {
    width: 95%;
    margin-top: -50px;
    height: 200px;
  }

  #logo {
    width: 300px;
    height: 200px;
    left: 350px;
    margin-top: -1rem !important;
  }

  .content_wrapp {
    flex-wrap: wrap;
    align-items: center;
  }

  .footer_linktree {
    margin-bottom: 0;
    position: fixed;
  }
}

@media only screen and (max-width: 375px) {
  .boxmodel {
    width: 90%;
    margin-top: -20px;
    height: 175px;
  }

  .section_title {
    margin-top: -0.5rem;
  }

  #logo {
    width: 60%;
    height: 60%;
  }

  .section_BG {
    background-size: 600px 300px;
    width: 500px;
    height: 300px;
  }

  #cabecalho {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links_content {
    width: 99%;
  }

  .section_container {
    padding: 1.5rem;
    height: 90%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 550px) {
  .boxmodel {
    height: 150px;
  }

  .section_BG {
    background-size: 500px 300px;
    height: 275px;
  }

  .section_article_wrapper {
    margin-top: -2rem;
    max-height: 14rem;
  }
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
  .section_BG {
    background-size: 600px 400px;
    height: 375px;
  }
}

@media only screen and (min-width: 850px) and (max-width: 950px) {
  .section_BG {
    background-size: 1000px 800px;
    width: 1000px;
    height: 800px;
  }

  #cabecalho {
    height: 400px;
  }

  .links_content {
    width: 100%;
  }

  .section_container {
    padding: 8rem 0;
  }

  .boxmodel {
    width: 95%;
    width: 800px;
    height: 200px;
  }

  .icons_social_midia {
    width: 50px;
    margin: 30px 30px 0px 30px;
  }

  .footer_linktree {
    margin-bottom: 0;
    position: fixed;
  }

  .section_article_wrapper {
    width: 40rem;
  }
}

@media only screen and (min-width: 761px) and (max-width: 770px) {
  .section_BG {
    width: 1000px;
    height: 550px;
    position: inherit;
    background-repeat: no-repeat;
    background-size: 1000px 650px;
  }

  #logo {
    margin-left: -7rem;
  }
}

@media only screen and (min-width: 780px) and (max-width: 850px) {
  .section_BG {
    width: 1000px;
    height: 700px;
    position: inherit;
    background-repeat: no-repeat;
  }

  #cabecalho {
    height: 400px;
  }

  .boxmodel {
    width: 90%;
    height: 220px;
  }

  .icons_social_midia {
    width: 60px;
    margin: 30px 30px 0px 30px;
  }

  .content_wrapper {
    gap: 0rem;
  }

  .footer_linktree {
    margin-bottom: 0;
    position: fixed;
  }
  #logo {
    margin-left: -5rem;
  }
}
