.header_blue {
  width: 100%;
  background-color: #124e6a;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_blue_wrapper {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_right_container {
  display: flex;
  align-items: center;
}

.user_name {
  color: #fff;
  margin: 0.5rem;
}

.header_green {
  background-color: #cbdf24;
  height: 10px;
  width: 100%;
}

.logo_icon {
  width: 100px;
}

.nav_links_container {
  display: flex;
  flex-direction: row;
}

.nav_links_container .nav_link_wrapper {
  margin-right: 2rem;
  border-bottom: 1px solid #fff;
  animation-duration: 3s;
}

.nav_link_wrapper:hover {
  border-bottom: #cbdf24;
}

.nav_link {
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  animation-duration: 3s;
}

@keyframes slidein {
  from {
    margin-left: 10%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.nav_link:hover {
  color: #cbdf24;
}

.wrapper_user_button {
  display: flex;
}
